<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sudolution</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'styles/index.css') }}"
    />
  </head>
  <body>
    <section class="landing-page">
      <button class="ny-times-sudoku-solver">Logo</button>
      <div class="content">
        <div class="logo-container">
          <img
            class="logo"
            src="{{ url_for('static', filename = 'images/logo.png') }}"
            alt="Sudolution Logo"
          />
          <div class="logo-text">
            <div class="title">Sudolution</div>
          </div>
        </div>
      </div>
    </section>
    <section class="sudoku-rules">
    </section>
    <section class="sudoku-solver">
    </section>
  </body>
</html>