<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sudolution</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <button class="ny-times-button">Logo</button>
    <div class="nav-buttons">
      <button class="up-button">Up</button>
      <button class="down-button">Down</button>
    </div>
    <div class="web-container">
      <section id="landing-page" class="landing-page">
        <div class="content">
          <div class="logo-container">
            <img
              class="logo"
              src="{{ url_for('static', filename = 'images/logo.png') }}"
              alt="Sudolution Logo"
            />
            <div class="logo-text">
              <div class="title">Sudolution</div>
            </div>
          </div>
        </div>
      </section>
      <section id="sudoku-rules" class="sudoku-rules">
        <div class="rules-card"></div>
      </section>
      <section id="sudoku-solver" class="sudoku-solver">
        <div class="solver-card"></div>
      </section>
    </div>

    <script>
      function getCurrentSection() {
        const sections = document.querySelectorAll("section");
        let currentSection = sections[0];
        let minDistance = Number.POSITIVE_INFINITY;

        sections.forEach((section) => {
          const distance = Math.abs(section.getBoundingClientRect().top);
          if (distance < minDistance) {
            minDistance = distance;
            currentSection = section;
          }
        });

        return currentSection;
      }

      document.querySelector(".up-button").addEventListener("click", () => {
        const currentSection = getCurrentSection();
        const prevSection = currentSection.previousElementSibling;
        if (prevSection && prevSection.tagName === "SECTION") {
          prevSection.scrollIntoView({ behavior: "smooth" });
        }
      });

      document.querySelector(".down-button").addEventListener("click", () => {
        const currentSection = getCurrentSection();
        const nextSection = currentSection.nextElementSibling;
        if (nextSection && nextSection.tagName === "SECTION") {
          nextSection.scrollIntoView({ behavior: "smooth" });
        }
      });
    </script>
  </body>
</html>
