<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sudolution</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <button class="ny-times-button">Logo</button>
    <div class="nav-buttons">
      <button class="up-button">Up</button>
      <button class="down-button">Down</button>
    </div>
    <div class="web-container">
      <section id="landing-page" class="landing-page">
        <div class="content">
          <div class="logo-container">
            <img
              class="logo"
              src="{{ url_for('static', filename = 'images/logo.png') }}"
              alt="Sudolution Logo"
            />
            <div class="logo-text">
              <div class="title"><h2 class="h2-title">Sudolution</h2></div>
            </div>
          </div>
        </div>
      </section>
      <section id="sudoku-rules" class="sudoku-rules">
        <div class="rules-card">
          <div class="heading-container">
            <div class="line"></div>
            <h1 class="heading">Sudoku Rules</h1>
            <div class="line"></div>
          </div>
          <div class="content-container">
            <div class="text-card">
              <p><strong>Overall Structure:</strong></p>
              <ul>
                <li>A standard Sudoku grid is 9x9, containing 81 cells.</li>
                <li>This grid is divided into nine 3x3 subgrids, often referred to as "boxes," "squares," or "regions."</li>
              </ul>
              <p><strong>Subgrid Identification:</strong></p>
              <ul>
                <li>The subgrids are typically numbered from 1 to 9 for reference, starting from the top-left corner and moving left to right, top to bottom.</li>
                <li>For example, the top-left subgrid includes cells (1,1) to (3,3), while the center subgrid includes cells (4,4) to (6,6).</li>
              </ul>
            </div>            
            <div class="image-card">
              <div class="rules-image">
                <img
                  src="{{ url_for('static', filename = 'images/sudoku-rules.png') }}"
                  alt="Sudoku Rules"
                />
              </div>
              <div class="buttons-container">
                <button class="left-button">Left</button>
                <button class="right-button">Right</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sudoku-solver" class="sudoku-solver">
        <div class="solver-card"></div>
      </section>
    </div>

    <script>
      function getCurrentSection() {
        const sections = document.querySelectorAll("section");
        let currentSection = sections[0];
        let minDistance = Number.POSITIVE_INFINITY;

        sections.forEach((section) => {
          const distance = Math.abs(section.getBoundingClientRect().top);
          if (distance < minDistance) {
            minDistance = distance;
            currentSection = section;
          }
        });

        return currentSection;
      }

      document.querySelector(".up-button").addEventListener("click", () => {
        const currentSection = getCurrentSection();
        const prevSection = currentSection.previousElementSibling;
        if (prevSection && prevSection.tagName === "SECTION") {
          prevSection.scrollIntoView({ behavior: "smooth" });
        }
      });

      document.querySelector(".down-button").addEventListener("click", () => {
        const currentSection = getCurrentSection();
        const nextSection = currentSection.nextElementSibling;
        if (nextSection && nextSection.tagName === "SECTION") {
          nextSection.scrollIntoView({ behavior: "smooth" });
        }
      });
    </script>
  </body>
</html>
