html {
  scroll-behavior: smooth;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KarnakProB";
  src: url("/static/fonts/KarnakPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "KarnakProM";
  src: url("/static/fonts/KarnakPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "KarnakProM", sans-serif;
}

.h2-title {
  margin: 0px;
  font-size: 44px;
}

.web-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 96vh;
  padding-top: 4vh;
  margin: 6rem 6rem;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-snap-align: start;
}

.ny-times-button {
  width: 59px;
  height: 59px;
  position: relative;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-buttons {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.up-button,
.down-button {
  width: 59px;
  height: 59px;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
}

.logo-container {
  width: fit-content;
  margin: auto;
  transform: translate(0, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rules-card,
.solver-card {
  width: 100%;
  position: relative;
  box-shadow: -6px 6px 0px #000;
  border-radius: 20px;
  background-color: #fb9b00;
  border: 3px solid #000;
  box-sizing: border-box;
  height: 90vh;
}

.heading-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex: 0.46;
  height: 3px;
  background-color: black;
  margin: 0 10px;
}

.heading {
  font-size: 40px;
  white-space: nowrap;
  margin: 0;
}

.content-container {
  display: flex;
  margin: 15px 27px;
  justify-content: space-between;
}

.text-card {
  flex: 0.95;
  width: 100%;
  position: relative;
  border-radius: 25px;
  background-color: #ffd085;
  border: 3px solid #000;
  box-sizing: border-box;
  height: 504px;
  padding: 5px 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.text-card p {
  margin: 10px 0;
}

.text-card strong {
  font-weight: 700;
  display: block;
}
.text-card ul {
  margin: 10px 0;
  padding-left: 40px;
}

.text-card li {
  margin-bottom: 5px;
  padding-left: 10px;
}

.image-card {
  display: flex;
  flex-direction: column;
}

.rules-image {
  flex: 0.95;
  width: 355px;
  height: 355px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-button,
.right-button,
.info-button,
.clear-button,
.solve-button {
  width: 79px;
  height: 79px;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
}

.solver-card {
  display: flex;
  justify-content: space-between;
}

.input-section,.output-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px 55px;
}

table {
  position: relative;
  width: fit-content;
  height: fit-content;
  border: solid;
  border-collapse: collapse;
  display: inline-block;
}

td {
  margin: 0;
  padding: 0;
  width: 2px;
  text-align: center;
  border: 1px solid #666666;
}

input {
  width: 48px;
  height: 48px;
  font-size: x-large;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 blue;
  outline: 0;
  border: none;
  cursor: pointer;
}

.Input:hover {
  background-color: rgb(221, 238, 255);
  outline: 0;
}

/* Borders for cells */
#cell-A3, #cell-B3, #cell-C3, #cell-D3, #cell-E3, #cell-F3, #cell-G3, #cell-H3, #cell-I3 {
  border-right: solid 2px;
}

#cell-A4, #cell-B4, #cell-C4, #cell-D4, #cell-E4, #cell-F4, #cell-G4, #cell-H4, #cell-I4 {
  border-left: solid 2px;
}

#cell-A6, #cell-B6, #cell-C6, #cell-D6, #cell-E6, #cell-F6, #cell-G6, #cell-H6, #cell-I6 {
  border-right: solid 2px;
}

#cell-A7, #cell-B7, #cell-C7, #cell-D7, #cell-E7, #cell-F7, #cell-G7, #cell-H7, #cell-I7 {
  border-left: solid 2px;
}

#cell-C1, #cell-C2, #cell-C3, #cell-C4, #cell-C5, #cell-C6, #cell-C7, #cell-C8, #cell-C9 {
  border-bottom: solid 2px;
}

#cell-D1, #cell-D2, #cell-D3, #cell-D4, #cell-D5, #cell-D6, #cell-D7, #cell-D8, #cell-D9 {
  border-top: solid 2px;
}

#cell-F1, #cell-F2, #cell-F3, #cell-F4, #cell-F5, #cell-F6, #cell-F7, #cell-F8, #cell-F9 {
  border-bottom: solid 2px;
}

#cell-G1, #cell-G2, #cell-G3, #cell-G4, #cell-G5, #cell-G6, #cell-G7, #cell-G8, #cell-G9 {
  border-top: solid 2px;
}

#cell-A9, #cell-B9, #cell-C9, #cell-D9, #cell-E9, #cell-F9, #cell-G9, #cell-H9, #cell-I9 {
  border-right: solid 2px;
}

#cell-A1, #cell-B1, #cell-C1, #cell-D1, #cell-E1, #cell-F1, #cell-G1, #cell-H1, #cell-I1 {
  border-left: solid 2px;
}

#cell-A1, #cell-A2, #cell-A3, #cell-A4, #cell-A5, #cell-A6, #cell-A7, #cell-A8, #cell-A9 {
  border-top: solid 2px;
}

#cell-I1, #cell-I2, #cell-I3, #cell-I4, #cell-I5, #cell-I6, #cell-I7, #cell-I8, #cell-I9 {
  border-bottom: solid 2px;
}

.output-sudoku {
  opacity: 0; 
  transition: opacity 0.5s ease-in; 
}

.output-sudoku.visible {
  opacity: 1; 
}

.solve-buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}