html {
  scroll-behavior: smooth;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KarnakProB";
  src: url("/static/fonts/KarnakPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "KarnakProM";
  src: url("/static/fonts/KarnakPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "KarnakProM", sans-serif;
}

.h2-title {
  margin: 0px;
  font-size: 44px;
}

.web-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 96vh;
  padding-top: 4vh;
  margin: 6rem 6rem;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-snap-align: start;
}

.ny-times-button {
  width: 59px;
  height: 59px;
  position: relative;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-buttons {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.up-button,
.down-button {
  width: 59px;
  height: 59px;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
}

.logo-container {
  width: fit-content;
  margin: auto;
  transform: translate(0, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rules-card,
.solver-card {
  width: 100%;
  position: relative;
  box-shadow: -6px 6px 0px #000;
  border-radius: 20px;
  background-color: #fb9b00;
  border: 3px solid #000;
  box-sizing: border-box;
  height: 90vh;
}

.heading-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex: 0.46;
  height: 3px;
  background-color: black;
  margin: 0 10px;
}

.heading {
  font-size: 40px;
  white-space: nowrap;
  margin: 0;
}

.content-container {
  display: flex;
  margin: 15px 27px;
  justify-content: space-between;
}

.text-card {
  flex: 0.95;
  width: 100%;
  position: relative;
  border-radius: 25px;
  background-color: #ffd085;
  border: 3px solid #000;
  box-sizing: border-box;
  height: 504px;
  padding: 5px 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.text-card p {
  margin: 10px 0;
}

.text-card strong {
  font-weight: 700;
  display: block;
}
.text-card ul {
  margin: 10px 0;
  padding-left: 40px; 
}

.text-card li {
  margin-bottom: 5px;
  padding-left: 10px; 
}

.image-card {
  display: flex;
  flex-direction: column;
}

.rules-image {
  flex: 0.95;
  width: 355px;
  height: 355px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-button,
.right-button {
  width: 79px;
  height: 79px;
  box-shadow: -3px 3px 0px #000;
  border-radius: 20px;
  background-color: #fec364;
  border: 3px solid #000;
  box-sizing: border-box;
}
